
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.App {
/*   background-image: url(./pexels/zurich_pexels.jpeg);
 */  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
/*   background-image:linear-gradient(to right, yellowgreen, yellow)
 */ 
 background-color: cyan; 

}

.back_green{
  background-color: green;
}

.back_pink{
  background-color: pink;
}

.comment{
  background-color: cyan;
}

.fondo_pink{
  background-color: pink;
}

/* De Dashboard Screen */
.iconos{
/*   background-color: whitesmoke;
 */  
/*  background-color: rgba(255, 255, 255, 0.3);
 */ display: flex;
  justify-content: center;
/* opacity: .7;
 */}

/* 
inside Image Component */
.iconos_in{
  background-color: rgba(255, 255, 255, 0.5);

/*   background-color: whitesmoke;
 */  display: flex;
 padding: 1%;
 width: 70%;
 flex-wrap: wrap;
  
}

.icons_each{
/*   background-color: whitesmoke;
 */  padding: 2%;
}

.img_tec{
  background-color: whitesmoke;
  height: 50px;
}

.invencion_javier{
  background-color: yellow;
}

.list-table, .list-table th, .list-table td{
  background-color: whitesmoke;
  border: 1px solid black;
}

.list{
  background-color: gray;
  display: flex;
  flex-direction: column;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
